{% extends "base.html" %}
{% block content %}
{% load humanize %}
<p>
    Book changes were successfully saved.
</p>
<p>
    <ul>
        <li>Title: {{ metabook.title }}</li>
        <li>Author: {{ metabook.author }}</li>
        <li>Barcode: {{ metabook.barcode }}</li>
        <li>Edition: {{ metabook.edition|ordinal }}</li>
        <li>
            Courses: 
            {% for course in metabook.courses.all %}
                {{ course }}
            {% endfor %}
        </li>
    </ul>
</p>
{% endblock %}
