{% extends "base.html" %}

{% block title %}The Cube Online - Book List{% endblock %}

{% load selected %}
{% block content %}
    <form action="/david/books/" method="get">
        <p id="booksearch">
            <input type="text" class="text" name="filter" value="{{ filter_text }}" />
            <select name="field">
                <option {% selected field "any_field" %}>In Any Field</option>
                <option {% selected field "title" %}>Title</option> 
                <option {% selected field "author" %}>Author</option> 
                <option {% selected field "course_code" %}>Course Code</option> 
                <option {% selected field "ref" %}>Ref #</option> 
                <option {% selected field "status" %}>Status</option> 
            </select>
            <input type="submit" class="submit" value="Search" />
        </p>
    </form>
    {% if listings.object_list %}
        {% if listings.has_other_pages %}
            <div class="PageCounterNav">
                <p>
                {% if listings.has_previous %}
                    <a href="?page={{ listings.previous_page_number }}&amp;per_page={{ per_page }}">
                        <img src="{{ MEDIA_URL }}images/pagenav_prev.gif" alt="Previous Page" />
                    </a>
                {% else %}
                    <img src="{{ MEDIA_URL }}images/pagenav_prev_faded.gif" alt="No Previous Page" />
                {% endif %}
                Pages: ({{ listings.number }} of {{listings.paginator.num_pages}})
                {% if listings.has_next %}
                    <a href="?page={{ listings.next_page_number }}&amp;per_page={{ per_page }}">
                        <img src="{{ MEDIA_URL }}images/pagenav_next.gif" alt="Next Page" />
                    </a>
                {% else %}
                    <img src="{{ MEDIA_URL }}images/pagenav_next_faded.gif" alt="No Next Page" />
                {% endif %}
            </div>
        {% endif %}
        <form action="{# TODO #}" method="post" name="ListItems">
        <table cellspacing='0'>
            <thead>
                <tr>
                    <th>
                        <a href="javascript:void(0);" onclick="toggleCBTogether();">All</a>
                    </th>
                    <th>
                        <a href="{{ cube.books.views.list }}?page={{ page }}&amp;per_page={{ per_page }}&amp;sort_by=book__title&amp;dir={{ dir }}">Title</a>
                    </th>
                    <th>
                        <a href="{{ cube.books.views.list }}?page={{ page }}&amp;per_page={{ per_page }}&amp;sort_by=book__author&amp;dir={{ dir }}">Author</a>
                    </th>
                    <th>
                        <a href="{{ cube.books.views.list }}?page={{ page }}&amp;per_page={{ per_page }}&amp;sort_by=price&amp;dir={{ dir }}">Price</a>
                    </th>
                    <th>
                        <a href="{{ cube.books.views.list }}?page={{ page }}&amp;per_page={{ per_page }}&amp;sort_by=book__courses&amp;dir={{ dir }}">Course Code</a>
                    </th>
                    <th>
                        <a href="{{ cube.books.views.list }}?page={{ page }}&amp;per_page={{ per_page }}&amp;sort_by=id&amp;dir={{ dir }}">Ref#</a>
                    </th>
                    <th>
                        <a href="{{ cube.books.views.list }}?page={{ page }}&amp;per_page={{ per_page }}&amp;sort_by=status&amp;dir={{ dir }}">Status</a>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for listing in listings.object_list %}
                <tr class="{% cycle 'bgcolor_odd' 'bgcolor_even' %}">
                    <td class='row_check'>
                        <input type='checkbox' name="idToEdit" value="{{ listing.id }}" />
                    </td>
                    <td class='row_title'>
                        {{ listing.book.title }}
                    </td>
                    <td class="row_author">
                        {{ listing.book.author }}
                    </td>
                    <td class="row_price">
                        &#36;{{ listing.price }}
                    </td>
                    <td class="row_coursecode">
                        {{ listing.book.course_codes }}
                    </td>
                    <td class="row_refnum">
                        {{ listing.id }}
                    </td>
                    <td class="row_status">
                        {{ listing.get_status_display }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="submit_options">
            <input type="submit" name="Action" value="Sold" />
            <input type="submit" name="Action" value="Missing" />
            <input type="submit" name="Action" value="Seller Paid" />
            <input type="submit" name="Action" value="Place on Hold" />
            <input type="submit" name="Action" value="RemoveHolds" />
            <input type="submit" name="Action" value="Edit" />
            <input type="submit" name="Action" value="ToBeDeleted" />
            <input type="submit" name="Action" value="Delete" />
        </p>
        </form>
    {% else %}
        <p class='noresults'>
        {% if filter_text %}
            We could not find any results for "{{ filter_text }}".
        {% else %}
            There are no books available at this time.
        {% endif %}
        </p>
    {% endif %}
{% endblock %}
