{% extends "base.html" %}

{% block title %} The Cube Online - Add Books {%endblock title %}

{% block content %}
<h4></h4>

<form method ="post" action = "{% url staffedit %}">
    <table cellspacing="0" class="FormTable" id="FormFunctions">
        <tbody>




            <tr id="row_Student ID" class="form_text">
                {% if messages %}
                <td>
                        Name: {{first_name}} {{last_name}}<br />
                        Student ID: {{student_id}}<br /><br />
                        <input type="hidden" id="student_id" class="InputField" name="student_id" value="{{student_id}}" maxlength="10" tabindex="2" />
                </td>
                {% else %} 
                <td class="TableLabel">
			<label for="student_id">
			    <span> Student ID: </span>
			</label>
		  </td>
                <td class="TableInput">
                        <input type="text" id="student_id" class="InputField" name="student_id" value="" maxlength="10" tabindex="2" />
                </td>
                {%endif%}

                <td class="role">
                     <select name="role" />
                           <option value = "Administrator">Administrator</option>
                           <option value = "Staff" >Staff</option> 
                     </select>
                </td>
	     </tr>
           

	</tbody>
    </table>
    <p class="submit_options">
        <input class="submit" type="submit" value="Save" name="Save" />
        <input class="submit" type="submit" value="Delete" name="Delete" onclick="return confirm('This will permanently delete these items, are you sure?')"/>	
    </p>
</form>
{% endblock %} 