{% extends "base.html" %}

{% block title %} The Cube Online - Add Books {%endblock title %}

{% block content %}
<h4>Add a Student's Book </h4>
<form method ="post" action = "{% url addBooks %}">
    
    <table cellspacing="0" class="FormTable" id="FormFunctions">
        <tbody>
            <tr id="row_Student ID" class="form_text">
                <td class="TableLabel">
			<label for="AltDBld">
			    <span class="required">Student ID: </span>
			</label>
		  </td>	
                <td class="TableInput">
			<input type="text" id="AltDBld" class="InputField" name="AltDBld" maxlength="10" tabindex="1" />
                </td>      
            </tr>
            <tr id="row_Price" class="form_text">
	         <td class="TableLabel">
			<label for="Price">
			    <span class="required">Price: </span>
			</label>
		  </td>	
                <td class="TableInput">
			<input type="text" id="Price" class="InputField" name="Price" tabindex="2" />
                </td>
	     </tr>
           <tr id="row_Bar Code" class="form_text">
	         <td class="TableLabel">
			<label for="BarCode">
			    <span class="required">Bar Code: </span>
			</label>
		  </td>	
                <td class="TableInput">
			<input type="text" id="BarCode" class="InputField" name="BarCode" tabindex="3" />
                </td>
	     </tr>
	</tbody>
    </table>
    <p class="submit_options">
        <input class="submit" type="submit" value="Add" name="Action" />
	 <a href = "{% url listBooks %}"><input class="submit" type="submit" value="List Bar Codes" name="Action" /></a>
    </p>
</form>
{% endblock %} 